<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Science and Magic</title>

    <!-- Links to Stylesheets =/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/-->
    <!-- Reset.css -->
    <link rel="stylesheet" href="/css/reset.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!--=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/-->

    <!-- Link to Fonts -->
    <!-- Fancy Font -->
    <link href="https://fonts.googleapis.com/css?family=Buda:300" rel="stylesheet">

    <!-- Console Font -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">

    <!-- Scripts =/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "./logic.js"></script>
    <!-- =/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/ -->

</head>
<body>
    <nav>
        <button id = "show-sidebar">☰</button>
        <h1 id = "main-title">Hunter Wilkins</h1>
    </nav>
    
    <div id = "sidebar">
        <div id="navbuttons">
            <a class = "tab" href = "/about">About</a>
            <a  class = "tab"href = "/artwork">Artwork</a>
            <a class = "tab" href = "/code">Code</a>
        </div>
        
    </div>

    {{{body}}}

    <footer><span>wilkins.hunter@gmail.com</span></footer>

</body>
</html>