<link rel="stylesheet" href="/css/landing.css">

<div id="content">
    <div id = "about-info">
            <img alt = "self-portrait" id = "self-portrait" src = "./images/self-portrait.jpg">
            
            <div id="info">
                <em><a href = "https://github.com/HunterWilkins" target = "_blank">GitHub</a></em>
                <a href = "/images/Hunter Wilkins Resume.pdf" target = "_blank">~Resume~</a>
                <em><a href = "https://www.linkedin.com/in/hunter-wilkins-591047117/" target = "_blank">LinkedIn</a></em>
            </div>
            
            <p>Hunter Wilkins is an artist, musician, singer, writer, and full-stack web developer. 
                He uses his knowledge of color theory and visual composition to further develop his front-end design.
                In addition to programming, Hunter frequently returns to his artistic roots and produces intriguing concept art, 
                improving his understanding of visual form and art theory.
            </p>
        </div>
</div>