<link rel="stylesheet" href="/css/code.css">

<div id="content">
        <h2>Click on any image to be taken to its respective website!</h2>
        <hr>
        <div id = "code">
        </div>
    </div>
