 <link rel="stylesheet" href="/css/landing.css">
<div id="content">
 <h2>I am now accepting Commissions!</h2>
    <p>If you like the art you see on this site, then you're in luck!
        Read the guidelines and restrictions below for more information.
    </p>

    <hr>

    <div id="commission-guides">
    <h3>Contact</h3>
    <p>Contact me via email at wilkins.hunter@gmail.com with your suggestion.</p>
    <h3>Restrictions</h3>
    <ol>
        <li>No porn requests. "Sexy" is fine, sex/nudity is not. 
            The commissions will be displayed on my website, and having any pornographic or fetishistic artwork
            on it would be incredibly unprofessional. Additionally, pornography is evil. Go out and smooch someone instead.
        </li>
        <li>This is not deviantart and I am not a fetish artist. This includes anthropomorphic art that can be interpreted as 
            "furry" softcore pornography.
        </li>
        <li>I have the right to deny any requests that go against my morals or beliefs.</li>
        <li>That's it.</li>
    </ol>

    <h3>Guidelines</h3>
    <p>Here is a run-down of the process:</p>
    <ol>
        <li>You send me a suggestion</li>
        <li>I determine whether or not the suggestion is appropriate and whether or not it's in my skill level</li>
        <li>If it is, then I will get back with you to verify your interest and might ask for more details</li>
        <li>*** After confirming the commission, I will begin a sketch of the suggestion.</li>
        <li>*** After one to two days, I will send you the sketch and color pallete and ask for the full payment (via paypal) to finish the project.</li>
        <li>If you pay, then I will take anywhere from three days to a week to fully finish the project.</li>
        <li>*** I will send you the finished product in both jpeg and png format, along with some work-in-progress shots.</li>
        <li>The final product will be displayed on my website with an optional subtitle thanking you for your contribution.</li>
    </ol>

    <h3>Pricing?</h3>
    <p>There are three price points:</p>
    <ul>
        <li>Black and White, Basic Shading: $20.00</li>
        <li>Basic Color and Shading: $30.00</li>
        <li>Full-On Digital Painting: $50.00</li>
    </ul>

    <p>There are no refunds. If you are not satisfied with the final result, then you can request one (1) change for 
        $5.00 extra. 
    </p>
    
    </div>
</div>
