body {
    font-family: serif;
}

body, #sidebar, #about-info a {
    background: white; 
    color:black;
}

hr, #info {
    border-color: black;
}

nav, footer, #sidebar, .code-card {
    background: rgb(37, 58, 69);
    color:white;
    border: none;
}

.code-card hr {
    border-color:white;
}

.title, #description-box {
    color: white;
}

* {
    box-sizing:border-box;
}

body {
    /* font-family: 'IBM Plex Mono', monospace; */
    line-height:2em;
}

::-webkit-scrollbar {
    width:3px;
    background:inherit;
}

::-webkit-scrollbar-thumb {
    background:rgb(47, 88, 97);
}

em {
    font-style:italic;
}

p {
    font-size:20px;
}

h1 {
    font-size:36px;
}

h2 {
    font-size:28px;
}

h3 {
    font-size: 24px;
}

a {
    color:inherit;
    text-decoration:none;
}

hr {
    border-bottom:none;
    border-right:none;
    border-left:none;
    width:80%;
}

nav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:40px;
    padding-left: 15px;
    z-index: 5;
}

nav > * {
    position:absolute;
    transform: translateY(-50%);
    top:50%;
}

.switch {
    position: absolute;
    display:inline-block;
    width: 50px;
    right: 15px;
    height: 26px;
    z-index: 5;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(64, 50, 39);
}

.slider:before {
    position:absolute;
    content: "";
    border-radius: 100%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    left: 25%;
    top: 50%;
    background: rgb(245, 197, 92);
    transition: .05s;
}

input:checked + .slider {
    background: rgb(62, 89, 108);
}

input:checked + .slider:before {
    left: 75%;
    background: white;
}

#main-title {
    font-weight:bolder;
    font-size: 30px;
}

#content {
    position: fixed;
    top:40px;
    text-align:center;
    left: 100px;
    right: 0;
    bottom: 25px;
    padding:15px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


#sidebar {
    position:fixed;
    top:40px;
    left:0px;
    width:100px;
    padding: 10px 0;
    bottom: 0;
    line-height:2em;
    z-index:5;

    transition: left .25s;
}

.tab:hover{
    cursor:pointer;
    color:rgb(203, 252, 255);
}

.tab {
    display: block;
    font-size: 24px;
    width: 100%;
    padding: 2px 5px;
    border: transparent solid 1px;

}

.active-tab {
    border-bottom: rgb(203, 252, 255) solid 1px;
    border-top: rgb(203, 252, 255) solid 1px;
    background: rgb(62, 89, 108);
    text-shadow: 0 1px 2px black;
}

footer {
    position:fixed;
    bottom: 0;
    left: 0;
    width:100%;
    height: 25px;
    text-align:center;

    z-index:5;
}

footer span {
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/*Artwork Bright*/
.thumbnail {
    box-shadow: 0 5px 5px rgb(99, 99, 99);
}



@media only screen and (max-width: 400px) {

    #content {
        left: 0;
        bottom: 50px;
    }

    .active-tab, .active-tab-bright {
        border-top: none;
        border-bottom: none;
        text-shadow: none;
        border: none;
    }

    .active-tab{
        background: rgb(47, 88, 97);
    }

    #sidebar {
        top: initial;
        left: 0;
        bottom: 0;
        right: 0;
        height: 50px;
        text-align:center;
        width: initial;
        border-right: none;
    }

    #navbuttons {
        position: relative;
        transform: translateY(-50%);
        top:50%;
    }

    .tab {
        font-size: 18px;
        display: inline-block;
        width: 32%;
        border-radius: 50px;
    }

    #show-sidebar {
        display:none;
    }

    nav {
        padding-left: 0;
        text-align:center;
    }

    #main-title {
        text-align:center;
        width: 100%;
        left: initial;
    }

    footer {
        display: none;
    }
}
