#self-portrait {
    width:200px;
   
}

#about-info {
    max-width:600px;
    margin: 0 auto;
    padding:10px;

    /* background:rgb(5, 3, 3); */
}

#about-info p {
    padding-top: 5px;
}

#info {
    border-top:rgb(245, 197, 92) solid 1px;
    border-bottom:rgb(245, 197, 92) solid 1px;

    padding: 5px;

    width: 100%;
}

#info a {
    font-size: 20px;
    display: inline-block;
    width: 30%;
    transition: .15s;
}

#info a:hover {
    transform: scale(1.2);
    color:rgb(255, 234, 164);
}