#self-portrait {
    width:200px;
   
}

#about-info {

    max-width:600px;
    margin: 0 auto;
    padding:15px;

    background:rgb(5, 3, 3);
}

#github-profile {
    float:left;
    width:50%;
}

#linkedIn-profile {
    float:right;
    width:50%;
}

#github-profile:hover, #linkedIn-profile:hover {
    color:rgb(255, 232, 158);
    text-shadow:0 0 5px rgb(255, 232, 158);
}

#resume-link:hover {
    color:rgb(255, 232, 158);
    text-shadow:0 0 10px rgb(255, 232, 158);
}
