* {
    box-sizing:border-box;
}


::selection {
    background: rgba(236, 181, 109, 0.363);
}

body {
    background: rgb(29, 21, 17);
    color:rgb(236, 181, 109);
    font-family: 'Buda', cursive;
    /* font-family: 'IBM Plex Mono', monospace; */
    line-height:2em;
}

::-webkit-scrollbar {
    width:3px;
    background:inherit;
}

::-webkit-scrollbar-thumb {
    background:rgb(245, 197, 92);
}

em {
    font-style:italic;
}

p {
    font-size:20px;
}

h1 {
    font-size:36px;
}

h2 {
    font-size:28px;
}

h3 {
    font-size: 24px;
}

a {
    color:inherit;
    text-decoration:none;
}

hr {
    border-bottom:none;
    border-right:none;
    border-left:none;
    border-color:rgb(245, 197, 92);
    width:80%;
}

nav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:40px;
    background:rgb(3, 4, 5);
    border-bottom: rgb(245, 197, 92) solid 1px;
    padding-left: 15px;
    z-index: 5;
}

nav > * {
    position:absolute;
    transform: translateY(-50%);
    top:50%;
}

.switch {
    position: absolute;
    display:inline-block;
    width: 50px;
    right: 15px;
    height: 26px;
    z-index: 5;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(64, 50, 39);
}

.slider:before {
    position:absolute;
    content: "";
    border-radius: 100%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    left: 25%;
    top: 50%;
    background: rgb(245, 197, 92);
    transition: .05s;
}

input:checked + .slider {
    background: rgb(62, 89, 108);
}

input:checked + .slider:before {
    left: 75%;
    background: white;
}

#main-title {
    left:px;
    font-weight:bolder;
    font-size: 30px;
}

#content {
    position: fixed;
    top:40px;
    text-align:center;
    left: 100px;
    right: 0;
    bottom: 25px;
    padding:15px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


#sidebar {
    position:fixed;
    top:40px;
    left:0px;
    width:100px;
    padding: 10px 0;
    bottom: 0;
    line-height:2em;

    background:rgb(5, 3, 3);


    z-index:5;

    transition: left .25s;
}

.tab:hover{
    cursor:pointer;
    color:rgb(255, 234, 164);
}

.tab {
    display: block;
    font-size: 24px;
    width: 100%;
    padding: 2px 5px;
    border: transparent solid 1px;

}

.active-tab {
    border-bottom: rgb(245, 197, 92) solid 1px;
    border-top: rgb(245, 197, 92) solid 1px;
    background: rgba(29, 21, 17, 1);
    text-shadow: 0 1px 2px black;
}

.title {
    color: rgb(245, 197, 92);
}

footer {
    position:fixed;
    bottom: 0;
    left: 0;
    width:100%;
    height: 25px;
    text-align:center;
    background:rgb(5, 3, 3);

    z-index:5;
}

footer span {
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


.code-card {
    background:rgb(5, 3, 3);
    text-align:center;
    display:inline-block;
    position:relative;
    margin:5px;
    padding:10px;
    width:200px;
    height:350px;
    overflow:hidden;
}

@media only screen and (max-width: 400px) {

    #content {
        left: 0;
        bottom: 85px;
    }

    .active-tab, .active-tab-bright {
        border-top: none;
        border-bottom: none;
        text-shadow: none;
        border: none;
    }

    .active-tab{
        background: rgb(245, 197, 92, .25);
    }

    #sidebar {
        top: initial;
        left: 0;
        bottom: 0;
        right: 0;
        height: 85px;
        text-align:center;
        width: initial;
        border-right: none;
        border-top: rgb(245, 197, 92) solid 1px;
    }

    #navbuttons {
        position: relative;
        transform: translateY(-50%);
        top:50%;
    }

    .tab {
        font-size: 18px;
        display: inline-block;
        width: 32%;
        border-radius: 50px;
    }

    #show-sidebar {
        display:none;
    }

    nav {
        padding-left: 0;
        text-align:center;
    }

    #main-title {
        text-align:center;
        width: 100%;
        left: initial;
        content: "HW";
    }

    footer {
        display: none;
    }
}

